---
http_interactions:
- request:
    method: get
    uri: http://solr-mega-dev.soma.plos.org/solr/journals_dev/select?f.publication_date.facet.range.end=NOW&f.publication_date.facet.range.gap=%2B1YEAR&f.publication_date.facet.range.start=2000-01-01T00:00:00Z&facet=true&facet.field=article_type&facet.field=journal&facet.field=publication_date&facet.range=publication_date&fl=id,pmid,publication_date,received_date,accepted_date,title,journal_name,author_display,editor_display,article_type,affiliate,subject,financial_disclosure&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&hl=false&q=id:10.1371/journal.pone.0112913&rows=25&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 30 Dec 2014 19:42:21 GMT
      Etag:
      - '"ZTgzYjA4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8 
      string: |
        {"response":{"numFound":1,"start":0,"docs":[{"id":"10.1371/journal.pone.0112913","journal_name":"PLOS ONE","pmid":"25470485","subject":["/Physical sciences/Materials science/Materials by attribute/Pigments","/Biology and life sciences/Paleontology/Fossils/Fossil record","/Earth sciences/Paleontology/Fossils/Fossil record","/Research and analysis methods/Research facilities/Museum collections","/Medicine and health sciences/Anatomy/Ocular system/Eyes","/Biology and life sciences/Anatomy/Head/Eyes","/Biology and life sciences/Anatomy/Ocular system/Eyes","/Medicine and health sciences/Anatomy/Head/Eyes","/Biology and life sciences/Anatomy/Ocular system/Ocular anatomy/Retina","/Medicine and health sciences/Anatomy/Ocular system/Ocular anatomy/Retina","/Biology and life sciences/Anatomy/Ocular system/Ocular anatomy/Lens (anatomy)","/Medicine and health sciences/Anatomy/Ocular system/Ocular anatomy/Lens (anatomy)","/Medicine and health sciences/Anatomy/Integumentary system/Skin/Hypodermis","/Biology and life sciences/Anatomy/Integumentary system/Skin/Hypodermis","/Biology and life sciences/Organisms/Eukaryota/Animals/Invertebrates/Arthropoda/Arachnida/Scorpions"],"publication_date":"2014-12-03T00:00:00Z","received_date":"2014-06-03T00:00:00Z","accepted_date":"2014-10-16T00:00:00Z","article_type":"Research Article","author_display":["Stephanie F. Loria","Lorenzo Prendini"],"editor_display":["Sylvie Rétaux"],"affiliate":["Richard Gilder Graduate School, American Museum of Natural History, New York, New York, United States of America","Scorpion Systematics Research Group, Division of Invertebrate Zoology, American Museum of Natural History, New York, New York, United States of America","CNRS, France"],"financial_disclosure":"SFL was supported by a fellowship from the Richard Gilder Graduate School of the American Museum of Natural History and a National Science Foundation Graduate Research Fellowship. Funding for this research was provided by a National Science Foundation Doctoral Dissertation Improvement Grant DEB 1310855 to LP and SFL. The funders had no role in study design, data collection and analysis, decision to publish, or preparation of the manuscript.","title":"Homology of the Lateral Eyes of Scorpiones: A Six-Ocellus Model"}]},"facet_counts":{"facet_queries":{},"facet_fields":{"article_type":["research article",1,"best practice",0,"book review",0,"book review/science in the media",0,"case report",0,"collection review",0,"community page",0,"correction",0,"correspondence",0,"debate",0,"deep reads",0,"editorial",0,"education",0,"essay",0,"expert commentary",0,"expression of concern",0,"formal comment",0,"from innovation to application",0,"guidelines and guidance",0,"health in action",0,"historical profiles and perspectives",0,"interview",0,"learning forum",0,"message from iscb",0,"message from the plos founders",0,"meta-research article",0,"methods and resources",0,"neglected diseases",0,"obituary",0,"open highlights",0,"opinion",0,"overview",0,"pearls",0,"perspective",0,"photo quiz",0,"policy forum",0,"policy platform",0,"primer",0,"quiz",0,"research in translation",0,"research matters",0,"retraction",0,"review",0,"short reports",0,"special report",0,"student forum",0,"symposium",0,"synopsis",0,"technical report",0,"the plos medicine debate",0,"topic page",0,"unsolved mystery",0,"viewpoints",0],"journal":["plos one",1,"apertarxiv",0,"plos biology",0,"plos clinical trials",0,"plos computational biology",0,"plos genetics",0,"plos medicin",0,"plos medicine",0,"plos neglected tropical diseases",0,"plos pathogens",0],"publication_date":["2014-12-03T00:00:00Z",1,"2004-09-07T00:00:00Z",0,"2004-10-19T00:00:00Z",0,"2004-10-26T00:00:00Z",0,"2004-11-30T00:00:00Z",0,"2004-12-07T00:00:00Z",0,"2004-12-28T00:00:00Z",0,"2005-01-11T00:00:00Z",0,"2005-01-18T00:00:00Z",0,"2005-01-25T00:00:00Z",0,"2005-02-15T00:00:[...]
