---
http_interactions:
- request:
    method: get
    uri: http://solr-mega-dev.soma.plos.org/solr/journals_dev/select?f.publication_date.facet.range.end=NOW&f.publication_date.facet.range.gap=%2B1YEAR&f.publication_date.facet.range.start=2000-01-01T00:00:00Z&facet=true&facet.field=article_type&facet.field=journal&facet.field=publication_date&facet.range=publication_date&fl=id,pmid,publication_date,received_date,accepted_date,title,journal_name,author_display,editor_display,article_type,affiliate,subject,financial_disclosure&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&fq=journal_key:PLoSCompBiol&hl=false&q=everything:biology&rows=25&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 30 Dec 2014 19:48:29 GMT
      Etag:
      - '"ZGQzYjA4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8 
      string: |
        {"response":{"numFound":5114,"start":0,"docs":[{"id":"10.1371/journal.pcbi.1002244","journal_name":"PLOS Computational Biology","pmid":"22046118","subject":["/Biology and life sciences/Computational biology","/Computer and information sciences","/Social sciences/Sociology/Education/Schools","/Physical sciences/Mathematics/Applied mathematics/Algorithms","/Research and analysis methods/Simulation and modeling/Algorithms","/People and places/Population groupings/Professions/Teachers","/Research and analysis methods/Database and informatics methods/Bioinformatics/Sequence analysis/BLAST algorithm","/Biology and life sciences/Evolutionary biology/Evolutionary systematics/Phylogenetics/Phylogenetic analysis","/Biology and life sciences/Taxonomy/Evolutionary systematics/Phylogenetics/Phylogenetic analysis","/Computer and information sciences/Data management/Taxonomy/Evolutionary systematics/Phylogenetics/Phylogenetic analysis","/Science policy/Science and technology workforce/Careers in research/Scientists/Biologists","/People and places/Population groupings/Professions/Scientists/Biologists"],"publication_date":"2011-10-27T00:00:00Z","article_type":"Education","author_display":["Suzanne Renick Gallagher","William Coon","Kristin Donley","Abby Scott","Debra S. Goldberg"],"editor_display":["Philip E. Bourne"],"affiliate":["Department of Computer Science, University of Colorado, Boulder, Colorado, United States of America","Boulder Valley School District, Boulder, Colorado, United States of America"],"financial_disclosure":"This work was supported by the National Science Foundation under Grant DGE 0841423. The funders had no role in study design, data collection and analysis, decision to publish, or preparation of the manuscript.","title":"A First Attempt to Bring Computational Biology into Advanced High School Biology Classrooms"},{"id":"10.1371/journal.pcbi.1004323","journal_name":"PLOS Computational Biology","pmid":"26107876","subject":["/Biology and life sciences/Computational biology","/Biology and life sciences/Systems biology","/Biology and life sciences/Genetics/Genomics/Genomic medicine","/Biology and life sciences/Genetics/Genomics","/Social sciences/Economics/Labor economics/Employment/Careers","/Computer and informati[...]
