---
http_interactions:
- request:
    method: get
    uri: http://solr-mega-dev.soma.plos.org/solr/journals_dev/select?f.publication_date.facet.range.end=NOW&f.publication_date.facet.range.gap=%2B1YEAR&f.publication_date.facet.range.start=2000-01-01T00:00:00Z&facet=true&facet.field=article_type&facet.field=journal&facet.field=publication_date&facet.range=publication_date&fl=id,pmid,publication_date,received_date,accepted_date,title,journal_name,author_display,editor_display,article_type,affiliate,subject,financial_disclosure&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&hl=false&q=id:10.1371/annotation/1d6063be-ff28-4a65-a3a0-bcaf076eab4b%20OR%2010.1371/annotation/5cdf6105-2a52-497a-86b3-db8f4a4e439c%20OR%2010.1371/annotation/a8159928-d073-4b5b-8a50-c68c95b78681%20OR%2010.1371/journal.pcbi.1001087%20OR%2010.1371/journal.pmed.0010065%20OR%2010.1371/journal.pmed.0010069%20OR%2010.1371/journal.pmed.0030091%20OR%2010.1371/journal.pmed.0030479%20OR%2010.1371/journal.pmed.0040325%20OR%2010.1371/journal.pmed.0040345%20OR%2010.1371/journal.pmed.0050194%20OR%2010.1371/journal.pone.0003661%20OR%2010.1371/journal.pone.0004732%20OR%2010.1371/journal.pone.0009584%20OR%2010.1371/journal.pone.0010031%20OR%2010.1371/journal.pone.0013696%20OR%2010.1371/journal.pone.0018776&rows=25&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 30 Dec 2014 19:48:29 GMT
      Etag:
      - '"ZGQzYjA4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8 
      string: |
        {"response":{"numFound":27,"start":0,"docs":[{"id":"10.1371/journal.pmed.0040345","journal_name":"PLOS Medicine","pmid":"18076281","subject":["/Medicine and health sciences/Nutrition/Diet","/Physical sciences/Chemistry/Chemical compounds/Organic compounds/Amines","/Medicine and health sciences/Oncology/Cancers and neoplasms/Colorectal cancer","/Research and analysis methods/Research design/Cohort studies","/Biology and life sciences/Agriculture/Animal products/Meat","/Physical sciences/Mathematics/Statistics (mathematics)/Statistical methods/Meta-analysis","/Medicine and health sciences/Nutrition/Diet/Food/Meat","/Research and analysis methods/Mathematical and statistical techniques/Statistical methods/Meta-analysis","/Physical sciences/Chemistry/Organic chemistry/Organic compounds/Amines","/Medicine and health sciences/Oncology/Cancer risk factors","/Biology and life sciences/Nutrition/Diet","/Biology and life sciences/Nutrition/Diet/Food/Meat","/Medicine and health sciences/Anatomy/Digestive system/Gastrointestinal tract/Stomach","/Biology and life sciences/Anatomy/Digestive system/Gastrointestinal tract/Stomach"],"publication_date":"2007-12-11T00:00:00Z","article_type":"Research in Translation","author_display":["Jeanine M Genkinger","Anita Koushik"],"financial_disclosure":" The authors received no specific funding for this article.","title":"Meat Consumption and Cancer Risk"},{"id":"10.1371/journal.pmed.0010069","journal_name":"PLOS Medicine","pmid":"","subject":["/Biology and life sciences/Evolutionary biology/Population genetics","/Biology and life sciences/Genetics/Genetics of disease","/Medicine and health sciences/Epidemiology/Genetic epidemiology","/Biology and life sciences/Genetics/Population genetics","/Biology and life sciences/Population biology/Population genetics","/People and places/Geographical locations/Europe/Icela[...]
