---
http_interactions:
- request:
    method: get
    uri: http://solr-mega-dev.soma.plos.org/solr/journals_dev/select?f.publication_date.facet.range.end=NOW&f.publication_date.facet.range.gap=%2B1YEAR&f.publication_date.facet.range.start=2000-01-01T00:00:00Z&facet=true&facet.field=article_type&facet.field=journal&facet.field=publication_date&facet.range=publication_date&fl=id,pmid,publication_date,received_date,accepted_date,title,journal_name,author_display,editor_display,article_type,affiliate,subject,financial_disclosure&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&hl=false&q=id:10.1371/journal.pone.0113157%20OR%2010.1371/journal.pone.0114307%20OR%2010.1371/journal.pone.0114162&rows=25&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 30 Dec 2014 19:42:21 GMT
      Etag:
      - '"ZTgzYjA4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8 
      string: |
        {"response":{"numFound":4,"start":0,"docs":[{"id":"10.1371/journal.pone.0114162","journal_name":"PLOS ONE","pmid":"25470144","subject":["/Biology and life sciences/Evolutionary biology/Population genetics","/Biology and life sciences/Evolutionary biology/Population genetics/Effective population size","/Earth sciences/Geography/Geographic areas/Southern Hemisphere","/Biology and life sciences/Genetics/Population genetics","/Biology and life sciences/Population biology/Population genetics","/Biology and life sciences/Genetics/DNA/Forms of DNA/Mitochondrial DNA","/Biology and life sciences/Genetics/Conservation genetics","/Biology[...]
