---
http_interactions:
- request:
    method: get
    #uri: http://api.plos.org/search?facet=true&facet.date=publication_date&facet.date.end=NOW&facet.date.gap=%2B1YEAR&facet.date.start=2000-01-01T00:00:00Z&facet.field=article_type&facet.field=journal&facet.field=publication_date&fl=id,pmid,publication_date,received_date,accepted_date,title,journal_name,author_display,editor_display,article_type,affiliate,subject,financial_disclosure&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&hl=false&q=everything:cancer&rows=25&wt=json
    uri: http://solr-mega-dev.soma.plos.org/solr/journals_dev/select?f.publication_date.facet.range.end=NOW&f.publication_date.facet.range.gap=%2B1YEAR&f.publication_date.facet.range.start=2000-01-01T00:00:00Z&facet=true&facet.field=article_type&facet.field=journal&facet.field=publication_date&facet.range=publication_date&fl=id,pmid,publication_date,received_date,accepted_date,title,journal_name,author_display,editor_display,article_type,affiliate,subject,financial_disclosure&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&hl=false&q=everything:cancer&rows=25&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 30 Dec 2014 21:08:21 GMT
      Etag:
      - '"OGYyNzA4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8 
      string: |
        {"response":{"numFound":75151,"start":0,"docs":[{"id":"10.1371/journal.pone.0010031","journal_name":"PLOS ONE","pmid":"20368808","subject":["/Medicine and health sciences/Oncology/Cancers and neoplasms/Breast tumors/Breast cancer","/Medicine and health sciences/Oncology/Cancers and neoplasms/Gastrointestinal tumors/Pancreatic cancer","/Medicine and health sciences/Clinical medicine/Clinical trials","/Medicine and health sciences/Oncology/Cancers and neoplasms/Lung and intrathoracic tumors","/Medicine and health sciences/Pharmacology/Drug research and development/Drug discovery","/Medicine and health sciences/Clinical medicine/Clinical trials/Phase III clinical investigation","/Research and analysis methods/Clinical trials","/Research and analysis methods/Clinical trials/Phase III clinical investigation","/Biology and life sciences/Anatomy/Digestive system/Gastrointestinal tract/Esophagus","/Medicine and health sciences/Anatomy/Digestive system/Gastrointestinal tract/Esophagus","/Medicine and health sciences/Pharmacology/Drug research and development/Clinical trials","/Medicine and health sciences/Pharmacology/Drug research and development/Clinical trials/Phase III clinical investigation","/Medicine and health sciences/Oncology/Cancer treatment/Clinical trials (cancer treatment)","/Medicine and health sciences/Clinical medicine/Clinical trials/Clinical trials (cancer treatment)","/Medicine and health sciences/Pharmacology/Drug research and development/Clinical trials/Clinical trials (cancer treatment)","/Research and analysis methods/Clinical trials/Clinical trials (cancer treatment)"],"publication_date":"2010-04-02T00:00:00Z","received_date":"2009-07-21T00:00:00Z","accepted_date":"2010-03-14T00:00:00Z","article_type":"Research Article","author_display":["Ertugrul Dalkic","Xuewei Wang","Neil Wright","Christina Chan"],"editor_display":["Jörg Hoheisel"],"affiliate":["Center for Systems Biology, Michigan State University, East Lansing, Michigan, United States of America","Cellular and Molecular Biology Lab, Department of Chemical Engineering and Materials Science, Michigan State University, East Lansing, Michigan, United States of America","Cell and Molecular Biology Program, Michigan State University, East Lansing, Michigan, United States of America","Department of Chemical Engineering and Materials Science, Michigan State University, East Lansing, Michigan, United States of America","Department of Mechanical Engineering, Michigan State University, East Lansing, Michigan, United States of America","Department of Biochemistry and Molecular Biology, Michigan State University, East Lansing, Michigan, United States of America","Department of Computer Science and Engineering, Michigan State University, East Lansing, Michigan, United States of America"],"financial_disclosure":"The work was supported in part by the National Institutes of Health (R01GM079688-01, R21CA126136-01, R21RR024439, P42 ES004911), Michigan Universities Commercialization Initiative (MUCI) and the Michigan State University Foundation and the Center for Systems Biology. E. D. is supported in part by Michigan State University Quantitative Biology and Modeling Initiative Fellowship. The funders had no role in the study design, data collection and analysis, decision to publish, or preparation of the manuscript.","title":"Cancer-Drug Associations: A Complex System"},{"id":"10.1371/journal.pone.0126796","journal_name":"PLOS ONE","pmid":"26023768","subject":["/Medicine and health sciences/Oncology/Cancer detection and diagnosis","/Medicine and health sciences/Oncology/Cancer detection and diagnosis/Cancer screening","/Medicine and health sciences/Surgical and invasive medical procedures/Endoscopy","/Medicine and health sciences/Oncology/Cancers and neoplasms/Gastrointestinal tumors/Gastric cancer","/Medicine and h[...]
